[user]
	name = maku693
	email = maku3ts@gmail.com
[core]
	excludesfile = /Users/shota/.gitignore_global
[push]
	default = current
[filter "hawser"]
	required = true
	clean = git hawser clean %f
	smudge = git hawser smudge %f
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[alias]
	delete-merged-branches = !git branch --merged | grep -vE '\\*|master$|develop$' | xargs -I % git branch -d %
